@charset "UTF-8";

/* ----------------------------------------------------------
  Fake Marquee
---------------------------------------------------------- */

.fake-marquee__wrapper {
    overflow: hidden;
}

.fake-marquee {
    white-space: nowrap;
}

.fake-marquee__inner > *,
.fake-marquee__inner {
    display: inline-block;
    font: inherit;
    white-space: nowrap;
    vertical-align: top;
}

.fake-marquee__inner > * {
    min-width: 100px;
}

/* Drag
-------------------------- */

body .fake-marquee[data-marquee-draggable="1"] {
    cursor: grab;
}

body[data-marquee-dragging="1"] {
    cursor: grabbing!important;
}

body[data-marquee-dragging="1"] .fake-marquee[data-marquee-draggable="1"] .fake-marquee__inner {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
